.summary-container {
    display:flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 10px 30px;
}

.file-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 30px;
    align-items:center;
    }

    .file-icon {
        font-size: 33px;
    }

    .file-header > h2 {
        padding: 0px 10px 8px 0px;
    }

.stats-table {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

    .subtable {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .one {
        flex-direction: column;
    }

    .two {
        flex: 2;
    }