bertopic
blis
catalogue
certifi
cffi
charset-normalizer
click
commonmark
confection
contourpy
cryptography
cycler
cymem
Cython
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
filelock
Flask
Flask-Cors
fonttools
hdbscan
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
joblib
keybert
keyphrase-vectorizers
kiwisolver
langcodes
llvmlite
MarkupSafe
matplotlib
murmurhash
nltk
numba
numpy
p5py
packaging
pandas
pathy
pdfminer.six
pdfplumber
pep517
Pillow
plotly
preshed
psutil
pycparser
pydantic
Pygments
pynndescent
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
rich
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smart-open
spacy
spacy-alignments
spacy-legacy
spacy-loggers
spacy-transformers
srsly
srt
tenacity
thinc
threadpoolctl
tokenizers
tomli
torch
torchvision
tqdm
transformers
typer
typing_extensions
umap-learn
urllib3
vosk
Wand
wasabi
websockets
Werkzeug
wordcloud
zipp
