.tts-container {
    display: flex;
    flex-direction: row;
}

.body {
    width: 100%;
    height: 100%;
}

.tts-body {
    width: 100%;
    height: 100%;
    background: var(--color-background);
    user-select: none;
}


.tts-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.tts-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.download-button {
    width: fit-content;
    font-weight: 600;
    font-size: 15px;
    padding: 0.6rem 0.75rem;
    border-radius: 3px;
    cursor: pointer;
    color: var(--color-background);
    background-color: var(--color-primary);
    border: none;
    box-shadow: var(--box-shadow)
}  