html, body {
    background-color: #f6f6f9;
    min-height: 100%;
    width: 100%;
    color: #363949;
    font-family: 'Material Icons';
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

.home-container {
    display: flex;
    flex-direction: row;
    min-height:100vh; 
    height: 100%;
    width: 100%;
}

.header-body {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 3rem;
}

 
.header-container h1 {
    font-weight: 700;
    font-size: 58px;
}

.header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 3rem;
}

.header-image img {
    width: 100%;
    height: auto;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    gap: 1.5rem;
    padding: 1rem;
}
    .title {
        text-decoration: underline;
    }


.header-content button {
    width: 100%;
    text-align: left;
    min-height: 50px;
    font-weight: 500;
    font-size: 18px;
    padding: 1.5rem;
    border-radius: 3px;
    background-color: ghostwhite;
    border: 1.5px #363949 solid;
    color: #363949;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
        rgba(0, 0, 0, 0.09) 0px 4px 2px, 
        rgba(0, 0, 0, 0.09) 0px 8px 4px, 
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    
.header-content button:hover {
    background-color:#363949;
    color: white;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: rgba(186, 190, 194, 0.3) 0px 1px 2px 0px, 
                rgba(217, 221, 224, 0.15) 0px 2px 6px 2px;
}
      



@media screen and (max-width: 1050px) {
    .home-container {
        flex-direction: column;
    }

    .header-body {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .header-body h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .convert-container p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .convert-container button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 490px) {
    .header-body h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .convert-container p {
        font-size: 14px;
        line-height: 24px;
    }

    .convert-container button {
        font-size: 12px;
        line-height: 16px;
    }
}