<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="../static/styles.css">
		<title>Sentiment Analysis on Newspaper Articles using Hugging Face</title>
	</head>
	<body>
		<form method=post enctype=multipart/form-data>
			<div class="container">
				<h3>Sentiment Analysis on Newspaper Articles using Hugging Face</h3>
				<hr>
				<h5>Enter CSV file name here:</h5>
				<input type="text" name="filename">
				<br/>
				<h5>Select Hugging Face model: </h5>
				<select name="model_choice">
				{%for i in range(0, len)%}
			  		<option>{{listOfKeys[i]}}</option>
				{%endfor%}
				</select>
				<button class="submit" type="submit">Submit</button>
    </form>
		<script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	</body>
</html>