<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="../static/styles.css">
		<title>Sentiment Analysis on Newspaper Articles using Hugging Face</title>
	</head>
	<body>
		<form method=post enctype=multipart/form-data>
			<div class="container">
				<h3>Sentiment Analysis on Newspaper Articles using Hugging Face</h3>
				<hr>
				<h5>Select a CSV file:</h5>
				<label for="file">Select a file:</label>
				<input type="file" id="file" name="file" accept=".csv">
				<br/>
				<h5>Select Hugging Face model: </h5>
				<select name="model_choice">
				{%for i in range(0, len)%}
			  		<option>{{listOfKeys[i]}}</option>
				{%endfor%}
				</select>
				<button class="submit" type="submit">Submit</button>
    </form>
	</body>
</html>