<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="../static/styles.css">
		<title>Sentiment Analysis on Newspaper Articles using Hugging Face</title>
	</head>
	<body>
		<form method=post enctype=multipart/form-data>
			<div class="container">
				<h3>Sentiment Analysis on Newspaper Articles using Hugging Face</h3>
				<hr>
				<h5>Enter CNA article URL:</h5>
				<input type="text" name="url">
				<button class="submit" type="submit">Submit</button>
    </form>
	</body>
</html>